<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95517578320-r1r14ffm8akk498ndbkebki2nnaafedg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95517578320-r1r14ffm8akk498ndbkebki2nnaafedg</string>
	<key>API_KEY</key>
	<string>AIzaSyBAlpemoLTKuDBCzQh4EULM8xO3k7vCEb8</string>
	<key>GCM_SENDER_ID</key>
	<string>95517578320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstApp</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-c9dab</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-c9dab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95517578320:ios:8417581881fe3c67012d55</string>
	<key>DATABASE_URL</key>
	<string>https://flutterapp-c9dab.firebaseio.com</string>
</dict>
</plist>